<p id="notice"><%= notice %></p>

<p>
  <strong>Total price:</strong>
  <%= @cart.total_price %>
</p>

<p>
  <strong>Open:</strong>
  <%= @cart.open %>
</p>

<p>
  <strong>User:</strong>
  <%= @cart.user_id %>
</p>

<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
